

form {
    max-width: 4in;
    margin: auto;
}

    form label {
        font-weight: bold;
    }

    form input {
        margin-bottom: 8px;
    }


.detailsPanel dl {
    margin:auto; 

    font-size:1em;
}
.detailsPanel dt {
    color: gray;
}
.detailsPanel dd {
    font-size: 1.4em;
    font-weight: bold;
}

fieldset {
    border: 1px solid #ddd !important;
    border-radius: 6px !important;
    padding: 12px !important;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

legend {
    font-size: 1.0em;
    font-weight: bold;
    color: #777;
    float: none;
    width: inherit;
    padding: 0 6px;
    border-bottom: none;
    margin-left:6px;
    margin-bottom: 0;
    transform:translate(0,-1px);
}

label {
    color: #777;
}
